{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class = "featuring">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <!-- <label>{{ form.username.label }}</label><br>
            {{ form.username }}<br>
            <label>{{ form.password1.label }}</label><br>
            {{ form.password1 }}<br>
            <label>{{ form.password2.label }}</label><br>
            {{ form.password2 }}<br>
            <p> </p> -->
						{{ form.as_p }}
            <button class="btn btn-success" type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}